%table#results
  %tr
    %th{:lang => :de} Deutsch
    %th{:lang => :ar} عربي
    %th{:lang => :en} Tags
  = render(:partial => 'item', :collection => @notes)
  - if @notes.length == 0
    %tr
      %td{:colspan => 2} Keine Suchergebnisse.
