// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*[lang=de]
  text-align: left
*[lang=ar]
  text-align: right
  font-size: 150%
  font-family: "Traditional Arabic", "Times New Roman", serif
  direction: rtl

table#results
  margin: 1em
  border: 1px solid #ccc
  border-collapse: collapse
  th, td
    border: 1px solid #ccc
  td a
    text-decoration: none
    display: block
  th, td a
    padding: .25em .5em .25em .5em

#details
  border: 1px solid #ccc
  padding: 1em
  position: absolute
  display: none

.details
  table
    border: 1px solid #ccc
    border-collapse: collapse
    th, td
      border: 1px solid #ccc
      padding: .25em .5em 0 .5em
    th
      text-align: left
  p
    margin: .5em 0 0 0
