%h4 Neues aus der Schmide&hellip;
%ul#news
  %li 11.12.2013: Suchfunktion toleriert nun auch überflüssige Vokalisierung im Suchbegriff. Nächste Station: rudimentäre Wurzelextraktion. Aua! :)
  %li 29.04.2013: Datenbank auch nach Tags durchsuchbar gemacht. Neue Version der Datenbank eingestellt (hauptsächlich Hinzufügung von <a href="?q=tutoriumalexander">Vokabular aus dem ersten Text des Tutoriums bei Alexander</a>; einige kleinere Errata).
  %li 16.04.2013: Subdomain von "ankidict." zu "dict." geändert. Eine Umleitung ist für den Moment eingerichtet, ab jetzt aber bitte <a href="http://dict.weitnahbei.de">dict.weitnahbei.de</a> benutzen! Außerdem Neuigkeiten an das Seitenende umgesetzt, um zu viel Scrollen auf Mobilgeräten zu vermeiden; kleinere kosmetische Veränderungen durchgeführt.
  %li 13.04.2013: Fehler behoben, der zu Darstellungsproblemen in der Detailansicht führte.
  %li 12.04.2013: Neue Version der Datenbank mit Errata und Vokabularhinzufügungen aus Wehr und anderen Quellen eingestellt. Die jeweilige Quelle ist aus den Tags ersichtlich.
