!!!
%html
  %head
    %title Ankidict Wörterbuch ar-de/de-ar
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 Ankidict Wörterbuch ar-de/de-ar
    = yield
